@charset "utf-8";
/* CSS Document */

.menubar{
	background-color:#000;
	}
	
.menubar ul li{
	display:inline-block;
	margin-right:25px;
	list-style:none;
	padding:10px;
	letter-spacing:2px;
	}
	
.menubar ul li a{
	text-decoration:none;
	color:#FFF;
	padding:10px;
	letter-spacing:2px;
	}
.menubar ul li a:hover{
	background-color:#F60;
	color:#FFF;
	padding:10px;
	letter-spacing:2px;
	}
.menubar ul li a.active{
	background-color:#F60;
	color:#fff;
	padding:10px;
	letter-spacing:2px;
	}
	